name: Run unit tests

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
  workflow_dispatch:
  schedule:
    # Run every Sunday at 03:53 UTC
    - cron: 53 2 * * 0

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: 3.9
            toxenv: py39-test-sphinx_oldest

          - os: windows-latest
            python-version: "3.10"
            toxenv: py310-test-sphinx53

          - os: macos-latest
            python-version: "3.10"
            toxenv: py310-test-sphinx62

          - os: ubuntu-latest
            python-version: "3.11"
            toxenv: py311-test-sphinx70

          - os: windows-latest
            python-version: "3.11"
            toxenv: py311-test-v2deps-sphinx71

          - os: macos-latest
            python-version: "3.11"
            toxenv: py311-test-sphinx72

          - os: ubuntu-latest
            python-version: "3.12"
            toxenv: py312-test-v2deps-sphinx80

          - os: windows-latest
            python-version: "3.12"
            toxenv: py312-test-sphinx81

          - os: ubuntu-latest
            python-version: "3.13"
            toxenv: py313-test-sphinx82

          - os: macos-latest
            python-version: "3.13"
            toxenv: py313-test-v2deps-sphinxdev

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Tox
      run: python -m pip install tox
    - name: Run Tox
      run: tox -v -e ${{ matrix.toxenv }}
